* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;  
}

:root {
    --cor-primaria: #ffffff; /* Define a cor primária */
    --cor-secundaria: #e9eaea; /* Define a cor secundária */
    --cor-destaque: #9F0311; /* Define a cor de destaque */
    --cor-black: #000000;
  }

@font-face {
    font-family: 'Barcelony';
    src: url('/CSS/FONTS/Barcelony.ttf') format('truetype');
}
@font-face {
    font-family: 'Gotham';
    src: url('/CSS/FONTS/Gotham.ttf') format('truetype');
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    width: 94%;
    margin: 0 auto;
    position: relative;
}

.cabecalho .img {
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/bolo-menu.jpg);
    opacity: 0.2;
}

.cabecalho a {
    text-decoration: none;
}

#logo {
    font-size: 2.5rem;
    font-family: 'Barcelony', sans-serif;
    color: var(--cor-destaque);
    text-align: center;
}

.top-menu {
    display: flex;
    align-items: center;
    gap: 45px;
    text-align: center;
}

.top-menu a {
    text-decoration: none;
    color: var(--cor-destaque);
    font-family: 'Gotham', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
}

.top-menu a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--cor-destaque);
}

/* RESPONSIVIDADE CABEÇALHO */

@media (max-width: 690px) {
    
    .cabecalho {
        flex-direction: column;
    }

    .top-menu {
        display: flex;
        gap: 5px;
    }

    .top-menu a {
        text-align: center;
        margin: auto;
        color: var(--cor-black);   
    }
}
